{% if users %}
    <div class="table">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Sport</th>
                    <th scope="col">Image Path</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{user.first_name}}</td>
                        <td>{{user.last_name}}</td>
                        <td>{{user.gender}}</td>
                        <td>{{user.sport}}</td>
                        <td>{{user.image}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}